<%- include("../includes/header.ejs", {title:"Record Companies - View All"}); %>

<h1>Record Companies</h1>

<br />

<table border="1">
    <tr><th>Record Company</th>
        <th>Founded</th>
        <th>Website</th>
        <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><a href="/recComp/?name=<%= result[i].name %>"><%= result[i].name
                %></a></td>
        <td align="center"><%= result[i].founded %></td>
        <td align="center"><a href="<%= result[i].website %>"></a><%= result[i].website %></td>
        <td align="center">
            <button onclick="event.preventDefault();window.location
                    .href='/recComp/edit2/?name=<%= result[i].name %>'">Edit</button>
            <form action="/recComp/delete/" style="display:inline;">
                <input type="hidden" name="name" id="name" value="<%= result[i].name %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br />
<br />
<form action="/recComp/add">
    <input type="submit" value="Add New Record Company"/>
</form>

<br />
<br />
<a href="/search">Return to Search Page</a>
<br />
<a href="/">Return to Home Page</a>

<%- include("../includes/footer.ejs"); %>