<%- include("../includes/header.ejs", {title:"Artist - " + result[0].band_name}); %>

<h1>Artist - <%= result[0].band_name %></h1>
<ul>
    <li>Band Name: <%= result[0].band_name %></li>
    <li>Singer Name: <%= result[0].singer_name %></li>
    <li>Date Formed: <%= result[0].date_formed %></li>
    <li>Origin, City: <%= result[0].origin_city %></li>
    <li>Origin, State: <%= result[0].origin_state %></li>
    <li>Genre: <%= result[0].genre %></li>
    <li>Website: <a href="<%= result[0].website %>"><%= result[0].website %></a></li>
</ul>

<br />
<a href = "/artist/all"><< back to Artists</a>

<%- include("../includes/footer.ejs"); %>