<%- include("../includes/header.ejs", {title:"Albums - View All"}); %>

<h1>Albums</h1>

<br />
<table border="1">
    <tr><th>Album Title</th>
        <th>Artist</th>
        <th>Record Company</th>
        <th>Related Tracks</th>
        <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><a href="/album/?album_id=<%= result[i].album_id %>"><%= result[i].title
                %></a></td>
        <td align="center"><%= result[i].band_name %></td>
        <td align="center"><%= result[i].record_co_name %></td>
        <td align="center"><a href="/album/tracks/?album_id=<%= result[i].album_id %>">Tracks</a></td>
        <td align="center">
            <button onclick="event.preventDefault();window.location
                    .href='/album/edit2/?album_id=<%= result[i].album_id %>'">Edit</button>
            <form action="/album/delete/" style="display:inline;">
                <input type="hidden" name="album_id" id="album_id" value="<%= result[i].album_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br />
<br />
<form action="/album/add">
    <input type="submit" value="Add New Album"/>
</form>

<br />
<br />
<a href="/search">Return to Search Page</a>
<br />
<a href="/">Return to Home Page</a>

<%- include("../includes/footer.ejs"); %>