<%- include("../includes/header.ejs", {title:"Album - " + result[0].title}); %>

<h1>Album - <%= result[0].title %></h1>
<div style="float:left;">
    <ul>
        <li>Title: <%= result[0].title %></li>
        <li>Artist: <%= result[0].band_name %></li>
        <li>Record Company: <%= result[0].record_co_name %></li>
    </ul>
</div>
<div>
<img src="/images/albumCoverArt/<%= result[0].cover_lbl_picture %>" alt="Cannot find cover art"
     style="width:300px; padding-left: 20px">

</div>

<br />
<a href = "/album/all">Return to Albums</a>

<%- include("../includes/footer.ejs"); %>