<%- include("../includes/header.ejs", {title:"Tracks - View All From" + album_id}); %>

<h1>Tracks - View All From <%= album_id %> (Can't figure out how to show album title)</h1>

<br />

<table border="1">
    <tr><th>Track Number</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><%= result[i].track_number %></td>
        <td><%= result[i].title %></td>
        <td align="center"><%= result[i].duration %></td>
        <td align="center">
            <button onclick="event.preventDefault();window.location
                    .href='/track/edit2/?track_id=<%= result[i].track_id %>'">Edit</button>
            <!--<form action="/track/delete/" style="display:inline;">
                <input type="hidden" name="track_id" id="track_id" value="<%= result[i].track_id %>" />
                <input type="submit" value="Delete"/>
            </form>-->
        </td>
    </tr>
    <% } %>
</table>

<!-- I could not get the 'Add Track' code to work.  Commenting this out!!  Also commented the
Delete option... -->
<!--<br />
<br />
<form action="/track/add">
    <input type="submit" value="Add New Track for this album"/>
</form>-->

<br />
<br />
<a href="/album/all">Return to Albums</a>
<br />
<a href="/">Return to Home Page</a>

<%- include("../includes/footer.ejs"); %>