<%- include("../includes/header.ejs", {title:"Tracks - View All From <Album>"}); %>

<h1>Tracks - View All From \<Album\></h1>

<br />

<table border="1">
    <tr><th>Band Name</th>
        <th>Singer Name</th>
        <th>Genre</th>
        <th>Website</th>
        <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/track/?band_name=<%= result[i].band_name %>"><%= result[i].band_name
                %></a></td>
        <td><%= result[i].singer_name %></a></td>
        <td><%= result[i].genre %></td>
        <td><a href="<%= result[i].website %>"><%= result[i].website %></td>
        <td>
            <!--<button onclick="event.preventDefault();window.location
                    .href='/track/edit2/?track_id=<%= result[i].track_id %>'">Edit</button>-->
            <form action="/track/delet/" style="display:inline;">
                <input type="hidden" name="track_id" id="track_id" value="<%= result[i].track_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br />
<br />
<a href="/search">Return to Search Page</a>
<br />
<a href="/">Return to Home Page</a>

<%- include("../includes/footer.ejs"); %>